name: Android Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APKs
      run: ./gradlew assembleFullDebug assembleFossDebug --parallel --stacktrace

    - name: Upload Full Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: app-full-debug
        path: app/build/outputs/apk/full/debug/*.apk

    - name: Upload Foss Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: app-foss-debug
        path: app/build/outputs/apk/foss/debug/*.apk